In [1]:
import numpy as np
import pandas as pd

Чтение данных и запись в датафрейм, вывод первых 15 строк для беглого анализа

In [2]:
df = pd.read_csv('fifa_s2.csv')

In [3]:
print(df.head(15))

       ID               Name  Age          Nationality  Overall  Potential  \
0    1179          G. Buffon   40                Italy       88         88
1    5479           Casillas   37                Spain       82         82
2    8205              Braga   35             Portugal       70         70
3    9014          A. Robben   34          Netherlands       84         84
4   19521          J. Ibehre   35              England       61         61
5   20209      Ricardo Costa   37             Portugal       74         74
6   20801  Cristiano Ronaldo   33             Portugal       94         94
7   24630         Pepe Reina   35                Spain       83         83
8   27532        D. de Vries   37          Netherlands       66         66
9   45083      S. von Bergen   35          Switzerland       73         73
10  46175       M. Rosenberg   35               Sweden       73         73
11  47201           S. Proto   35              Belgium       76         76
12  48940            P. Čech   36       Czech Republic       82         82
13  52498         M. Lehmann   35              Germany       72         72
14  52679          J. Murphy   36  Republic of Ireland       62         62

                   Club    Value  Wage Preferred Foot  \
0   Paris Saint-Germain   4000.0    77          Right
1              FC Porto   1500.0    10           Left
2               CD Aves    750.0     5          Right
3     FC Bayern München  15500.0   110           Left
4      Cambridge United    120.0     2          Right
5            CD Tondela    750.0     4          Right
6              Juventus  77000.0   405          Right
7                 Milan   6000.0    56          Right
8                Celtic     40.0     7          Right
9        BSC Young Boys    950.0    12          Right
10             Malmö FF   1800.0     6          Right
11                Lazio   1800.0    20          Right
12              Arsenal   3000.0    60           Left
13           1. FC Köln    725.0    10          Right
14                 Bury     40.0     1           Left

    International Reputation  Skill Moves Position  Joined  \
0                        4.0          1.0       GK    2018
1                        4.0          1.0      NaN    2015
2                        1.0          3.0      LCM    2017
3                        4.0          4.0       RM    2009
4                        1.0          2.0       ST    2017
5                        2.0          2.0      LCB    2017
6                        5.0          5.0       ST    2018
7                        3.0          1.0       GK    2018
8                        1.0          1.0       GK    2016
9                        2.0          2.0      LCB    2013
10                       1.0          3.0       RS    2014
11                       2.0          1.0       GK    2018
12                       4.0          1.0      NaN    2015
13                       2.0          2.0      CDM    2012
14                       1.0          1.0       GK    2017

   Contract Valid Until    Height  Weight  Release Clause
0            01/01/2019  6.333333   203.0          7400.0
1            01/01/2019  6.083333   185.0          3000.0
2            01/01/2019  5.916667   165.0          1600.0
3            01/01/2019  5.916667   176.0         25600.0
4            01/01/2019  6.333333   203.0           210.0
5            01/01/2019  6.000000   181.0          1600.0
6            01/01/2022  6.166667   183.0        127100.0
7                   NaN  6.166667   203.0         10200.0
8            01/01/2019  6.250000   212.0            72.0
9            01/01/2022  6.000000   174.0          1400.0
10           01/01/2020  6.000000   179.0          2400.0
11           01/01/2021  6.000000   163.0          3100.0
12           01/01/2019  6.416667   198.0          5700.0
13           01/01/2019  5.833333   165.0          1100.0
14           01/01/2019  6.166667   194.0            70.0

Вывод информации о датасете и количества строк, в которых имеются пустые значения

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2399 entries, 0 to 2398
Data columns (total 18 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   ID                        2399 non-null   int64
 1   Name                      2399 non-null   object
 2   Age                       2399 non-null   int64
 3   Nationality               2392 non-null   object
 4   Overall                   2399 non-null   int64
 5   Potential                 2399 non-null   int64
 6   Club                      2158 non-null   object
 7   Value                     2142 non-null   float64
 8   Wage                      2399 non-null   int64
 9   Preferred Foot            2399 non-null   object
 10  International Reputation  2389 non-null   float64
 11  Skill Moves               2393 non-null   float64
 12  Position                  2378 non-null   object
 13  Joined                    2399 non-null   int64
 14  Contract Valid Until      2126 non-null   object
 15  Height                    2399 non-null   float64
 16  Weight                    2399 non-null   float64
 17  Release Clause            2396 non-null   float64
dtypes: float64(6), int64(6), object(6)
memory usage: 337.5+ KB

In [5]:
df.isna().sum()

ID                            0
Name                          0
Age                           0
Nationality                   7
Overall                       0
Potential                     0
Club                        241
Value                       257
Wage                          0
Preferred Foot                0
International Reputation     10
Skill Moves                   6
Position                     21
Joined                        0
Contract Valid Until        273
Height                        0
Weight                        0
Release Clause                3
dtype: int64

In [6]:
df.dropna(inplace=True)
df.reset_index(inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2075 entries, 0 to 2074
Data columns (total 19 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   index                     2075 non-null   int64
 1   ID                        2075 non-null   int64
 2   Name                      2075 non-null   object
 3   Age                       2075 non-null   int64
 4   Nationality               2075 non-null   object
 5   Overall                   2075 non-null   int64
 6   Potential                 2075 non-null   int64
 7   Club                      2075 non-null   object
 8   Value                     2075 non-null   float64
 9   Wage                      2075 non-null   int64
 10  Preferred Foot            2075 non-null   object
 11  International Reputation  2075 non-null   float64
 12  Skill Moves               2075 non-null   float64
 13  Position                  2075 non-null   object
 14  Joined                    2075 non-null   int64
 15  Contract Valid Until      2075 non-null   object
 16  Height                    2075 non-null   float64
 17  Weight                    2075 non-null   float64
 18  Release Clause            2075 non-null   float64
dtypes: float64(6), int64(7), object(6)
memory usage: 308.1+ KB

Кроме того, в первых строках значение Overall совпадает со значением Potential во всех строках
Проверим, во всем ли датафрейме наблюдается это дублирование

In [7]:
len(df[df['Overall'] == df['Potential']])

681

In [8]:
df[df['Overall'] != df['Potential']]

,index,ID,Name,Age,Nationality,Overall,Potential,Club,Value,Wage,Preferred Foot,International Reputation,Skill Moves,Position,Joined,Contract Valid Until,Height,Weight,Release Clause
61,67,146947,Vesga,25,Spain,72,77,CD Leganés,3500.0,14,Left,1.0,3.0,CDM,2016,30/06/2019,6.250000,185.0,4585.060806
200,227,175851,Tomané,25,Portugal,69,72,CD Tondela,1300.0,3,Right,1.0,2.0,ST,2017,01/01/2020,6.083333,196.0,2900.000000
279,333,183520,Fran Mérida,28,Spain,72,73,CA Osasuna,2800.0,8,Left,1.0,3.0,CDM,2016,01/01/2020,5.833333,163.0,4700.000000
292,348,184040,M. Hansen,28,Denmark,69,72,FC Basel 1893,925.0,10,Right,1.0,1.0,GK,2018,01/01/2020,6.166667,187.0,1500.000000
299,355,184436,A. Smithies,28,England,73,75,Cardiff City,3300.0,28,Right,1.0,1.0,GK,2018,01/01/2022,6.166667,194.0,6900.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2070,2394,246465,Guerrero,16,Spain,63,76,CF Rayo Majadahonda,625.0,1,Left,1.0,3.0,CM,2018,01/01/2019,5.916667,165.0,1400.000000
2071,2395,246594,H. Massengo,16,France,62,75,AS Monaco,450.0,2,Right,1.0,2.0,CDM,2018,01/01/2021,5.833333,146.0,1100.000000
2072,2396,246599,Guillem Jaime,19,Spain,64,80,FC Barcelona,975.0,13,Right,1.0,3.0,RW,2018,01/01/2020,5.833333,154.0,2600.000000
2073,2397,246606,Fran García,18,Spain,64,79,Real Madrid,825.0,9,Left,1.0,2.0,LB,2018,01/01/2019,5.583333,139.0,2200.000000
2074,2398,246608,Fidalgo,21,Spain,65,75,Real Madrid,875.0,20,Right,1.0,3.0,CM,2016,01/01/2019,5.750000,150.0,2000.000000

Значения колонок дублируются не во всем фрейме, так что удаление целой колонки является некорректным

Проверим датафрейм на наличие полных дубликатов, затем оценим данные по отдельным колонкам по списку уникальных значений и дубликатов

In [9]:
df[df.duplicated()]

Empty DataFrame
Columns: [index, ID, Name, Age, Nationality, Overall, Potential, Club, Value, Wage, Preferred Foot, International Reputation, Skill Moves, Position, Joined, Contract Valid Until, Height, Weight, Release Clause]
Index: []

In [10]:
for col in df:
    print('Колонка:')
    print(str(col))
    print('Дубликатов:')
    print(df[col].duplicated().sum())
    print('Уникальные значения:')
    print(df[col].unique())
    print('\n')

Колонка:
index
Дубликатов:
0
Уникальные значения:
[   0    2    3 ... 2396 2397 2398]


Колонка:
ID
Дубликатов:
4
Уникальные значения:
[  1179   8205   9014 ... 246599 246606 246608]


Колонка:
Name
Дубликатов:
23
Уникальные значения:
['G. Buffon' 'Braga' 'A. Robben' ... 'Guillem Jaime' 'Fran García'
 'Fidalgo']


Колонка:
Age
Дубликатов:
2049
Уникальные значения:
[40 35 34 37 33 36 38 39 32 31 41 30 25 28 29 27 26 24 23 22 21 20 19 18
 17 16]


Колонка:
Nationality
Дубликатов:
1976
Уникальные значения:
['Italy' 'Portugal' 'Netherlands' 'England' 'Switzerland' 'Sweden'
 'Belgium' 'Germany' 'Republic of Ireland' 'Scotland' 'Spain' 'Denmark'
 'Brazil' 'Finland' 'Argentina' 'Chile' 'Australia' 'Croatia' 'Estonia'
 'Russia' 'Greece' 'Austria' 'Japan' 'Mexico' 'Mali' 'Peru' 'Poland'
 'Slovenia' 'France' 'Northern Ireland' 'Romania' 'Korea Republic' 'Wales'
 'Guyana' 'Colombia' 'Serbia' 'Ecuador' 'Bosnia Herzegovina' 'New Zealand'
 'Ivory Coast' 'Nigeria' 'Panama' 'Iceland' 'Uruguay' 'United States'
 'Morocco' 'Cameroon' 'DR Congo' 'Ukraine' 'Jamaica' 'Canada' 'Montenegro'
 'China PR' 'Senegal' 'Guinea' 'Cape Verde' 'Algeria' 'Turkey' 'Norway'
 'Ghana' 'Gabon' 'Venezuela' 'Montserrat' 'Egypt' 'Kosovo' 'Moldova'
 'Costa Rica' 'Philippines' 'Israel' 'Bermuda' 'Guinea Bissau' 'Honduras'
 'Czech Republic' 'Barbados' 'Georgia' 'Angola' 'Albania' 'Bulgaria'
 'Comoros' 'Iran' 'Paraguay' 'Lithuania' 'Benin' 'Dominican Republic'
 'Iraq' 'Mozambique' 'Gambia' 'Libya' 'Slovakia' 'Sudan' 'Tanzania'
 'Burkina Faso' 'Thailand' 'Bolivia' 'Togo' 'Chad' 'South Africa'
 'Luxembourg' 'FYR Macedonia']


Колонка:
Overall
Дубликатов:
2028
Уникальные значения:
[88 70 84 61 74 94 66 73 76 72 62 63 64 71 79 68 77 86 69 81 89 67 85 80
 75 60 82 87 91 65 90 78 58 56 59 92 83 57 55 54 49 53 50 52 47 51 48]


Колонка:
Potential
Дубликатов:
2033
Уникальные значения:
[88 70 84 61 74 94 66 73 76 72 62 63 64 71 79 68 77 86 69 81 89 67 85 80
 75 60 82 87 91 65 90 78 58 56 59 93 92 83 95 53 52 55]


Колонка:
Club
Дубликатов:
1994
Уникальные значения:
['Paris Saint-Germain' 'CD Aves' 'FC Bayern München' 'Cambridge United'
 'CD Tondela' 'Juventus' 'Celtic' 'BSC Young Boys' 'Malmö FF' 'Lazio'
 '1. FC Köln' 'Bury' 'Carlisle United' 'Manchester United' 'Burton Albion'
 'Inter' 'Chelsea' 'Cagliari' 'Arsenal' 'Cádiz CF' 'AS Monaco'
 '1. FSV Mainz 05' 'Burnley' 'Manchester City' 'CD Nacional'
 'Bristol City' "CD O'Higgins" 'CD Palestino' 'Brescia'
 '1. FC Kaiserslautern' 'Brisbane Roar' 'Liverpool' 'CD Feirense'
 'Aston Villa' 'Roma' 'Cardiff City' 'CF Rayo Majadahonda' 'CD Tenerife'
 'CD Universidad de Concepción' 'Atalanta' 'Borussia Mönchengladbach'
 'Brighton & Hove Albion' 'CD Lugo' 'CD Numancia' 'Sevilla FC'
 'CD Leganés' 'CA Osasuna' 'Lokomotiv Moscow' 'Bayer 04 Leverkusen'
 'FC Barcelona' 'Real Madrid' 'Central Coast Mariners' 'Cerezo Osaka'
 'FC Porto' 'Charlton Athletic' '1. FC Union Berlin' 'Udinese'
 'Changchun Yatai FC' 'Bristol Rovers' 'Milan' 'FC Basel 1893'
 'Fc Barcelona' '1. FC Magdeburg' 'Córdoba CF' 'Livingston FC'
 'CF Reus Deportiu' 'Borussia Dortmund' 'CD Huachipato'
 '1. FC Heidenheim 1846' '1. FC Nürnberg' 'Bursaspor'
 'Chamois Niortais Football Club' 'Carpi' 'CD Antofagasta' 'AS Béziers'
 'CD Everton de Viña del Mar' 'FC Heidenheim 1846' 'Aalborg BK'
 'Ceará Sporting Club' 'Chapecoense' 'FC Köln']


Колонка:
Value
Дубликатов:
1870
Уникальные значения:
[4.000e+03 7.500e+02 1.550e+04 1.200e+02 7.700e+04 4.000e+01 9.500e+02
 1.800e+03 7.250e+02 1.300e+03 1.500e+02 2.000e+01 1.100e+02 2.100e+02
 6.750e+02 3.600e+03 2.700e+02 6.500e+03 3.750e+02 1.800e+04 6.500e+02
 5.250e+02 4.200e+03 1.600e+03 5.500e+02 2.500e+02 1.350e+04 2.700e+04
 5.000e+02 1.000e+03 2.200e+04 1.700e+03 9.000e+02 6.000e+03 5.000e+03
 6.000e+01 3.000e+04 4.300e+03 1.100e+04 5.750e+02 4.800e+03 1.150e+04
 3.500e+03 3.100e+03 3.000e+02 4.500e+03 7.500e+03 2.000e+02 2.700e+03
 3.400e+04 7.000e+03 6.450e+04 5.100e+04 2.800e+03 3.000e+01 1.750e+04
 1.400e+04 1.600e+02 1.105e+05 4.250e+02 2.600e+03 1.400e+03 3.200e+03
 1.200e+03 2.000e+03 2.200e+02 4.500e+02 2.200e+03 3.500e+02 2.400e+04
 6.000e+02 8.500e+03 1.900e+03 2.300e+02 1.000e+04 3.700e+04 3.700e+03
 6.250e+02 3.250e+02 4.750e+02 2.500e+04 3.800e+04 3.400e+03 5.700e+04
 6.000e+04 2.400e+02 4.650e+04 7.000e+02 2.800e+02 8.500e+02 2.600e+04
 9.250e+02 1.900e+02 2.300e+04 4.700e+03 1.500e+03 9.000e+03 8.000e+03
 2.400e+03 8.000e+04 4.350e+04 4.300e+04 7.750e+02 6.700e+04 7.000e+01
 4.100e+03 5.500e+03 3.550e+04 2.900e+04 4.600e+04 2.100e+03 8.750e+02
 1.300e+04 3.300e+04 4.400e+04 1.300e+02 3.050e+04 5.000e+01 2.300e+03
 3.750e+04 8.000e+01 7.650e+04 2.500e+03 1.700e+02 1.400e+02 3.900e+03
 9.300e+04 4.400e+03 2.950e+04 1.200e+04 3.900e+04 3.500e+04 3.300e+03
 1.100e+03 3.000e+03 1.600e+04 1.250e+04 3.200e+04 2.900e+03 9.500e+03
 1.850e+04 4.900e+03 5.900e+04 6.950e+04 4.550e+04 5.150e+04 8.250e+02
 4.500e+04 8.000e+02 2.100e+04 1.185e+05 3.650e+04 5.350e+04 1.050e+04
 2.850e+04 5.200e+04 5.800e+04 3.800e+03 6.250e+04 1.020e+05 7.200e+04
 1.650e+04 2.150e+04 1.900e+04 1.800e+02 2.900e+02 6.400e+04 1.500e+04
 7.350e+04 1.950e+04 1.700e+04 2.350e+04 5.500e+04 1.450e+04 5.950e+04
 2.450e+04 9.750e+02 5.000e+04 5.300e+04 3.250e+04 5.650e+04 2.600e+02
 4.450e+04 2.050e+04 4.000e+02 4.600e+03 4.050e+04 2.000e+04 3.150e+04
 2.250e+04 3.450e+04 2.650e+04 4.150e+04 2.550e+04 9.000e+01 8.900e+04
 4.250e+04 6.300e+04 5.400e+04 6.100e+04 5.050e+04 1.000e+02 4.100e+04
 4.000e+04 8.100e+04]


Колонка:
Wage
Дубликатов:
1940
Уникальные значения:
[ 77   5 110   2   4 405   7  12   6  20  10   1  39  28  18  94  44  25
  47  14 185   3  95 120 215 170  27  51  30   8  53  24  41  62  22  21
  45  36 240  48 300 380  16 565   9  23  74  34  32  31  75 165  17  99
  42 115 130 245  13  68 285  96 260  33  19  58  65 145 125  11  38 140
 105  29  91  76 355  57  50 455 190 420  69 160  35  15  55 200 180  79
 205 340  84  88 175  26  59  85  61  43  37 100 265 250 315 135 290  40
  56  67 230 195  81 210  89  98  46  66  52  87  80  73  54  78  90 255
  92  71  83 225  64  63  49  82 155]


Колонка:
Preferred Foot
Дубликатов:
2073
Уникальные значения:
['Right' 'Left']


Колонка:
International Reputation
Дубликатов:
2070
Уникальные значения:
[4. 1. 2. 5. 3.]


Колонка:
Skill Moves
Дубликатов:
2070
Уникальные значения:
[1. 3. 4. 2. 5.]


Колонка:
Position
Дубликатов:
2048
Уникальные значения:
['GK' 'LCM' 'RM' 'ST' 'LCB' 'RS' 'CDM' 'RB' 'CAM' 'CB' 'RW' 'CM' 'LB'
 'RCM' 'LS' 'CF' 'RDM' 'RCB' 'LM' 'RF' 'RWB' 'LDM' 'LW' 'LWB' 'LF' 'LAM'
 'RAM']


Колонка:
Joined
Дубликатов:
2059
Уникальные значения:
[2018 2017 2009 2016 2013 2014 2012 2015 2000 2007 2011 2005 2008 2004
 2010 2003]


Колонка:
Contract Valid Until
Дубликатов:
2059
Уникальные значения:
['01/01/2019' '01/01/2022' '01/01/2020' '01/01/2021' '01/01/2018'
 '30/06/2019' '31/05/2019' '01/01/2023' '31/12/2018' '01/01/2024'
 '30/06/2020' '02/01/2019' '01/01/2025' '12/01/2019' '05/01/2019'
 '20/01/2019']


Колонка:
Height
Дубликатов:
2058
Уникальные значения:
[6.33333333 5.91666667 6.         6.16666667 6.25       5.83333333
 6.08333333 5.75       5.58333333 5.41666667 5.66666667 6.41666667
 6.5        5.5        5.25       6.58333333 5.33333333]


Колонка:
Weight
Дубликатов:
2033
Уникальные значения:
[203. 165. 176. 181. 183. 212. 174. 179. 163. 194. 172. 161. 168. 196.
 187. 148. 154. 190. 192. 170. 185. 159. 157. 150. 152. 141. 132. 201.
 139. 143. 130. 198. 209. 146. 207. 137. 134. 205. 214. 128. 123. 121.]


Колонка:
Release Clause
Дубликатов:
1383
Уникальные значения:
[7.40000000e+03 1.60000000e+03 2.56000000e+04 2.10000000e+02
 1.27100000e+05 7.20000000e+01 1.40000000e+03 2.40000000e+03
 3.10000000e+03 1.10000000e+03 7.00000000e+01 2.63000000e+02
 2.50000000e+03 3.50000000e+01 1.87000000e+02 3.89000000e+02
 6.80000000e+03 4.32000000e+02 3.15000000e+02 1.17000000e+04
 6.50000000e+03 7.13000000e+02 3.33000000e+04 9.98000000e+02
 5.06000000e+02 6.90000000e+03 2.10000000e+03 8.53000000e+02
 3.63000000e+02 6.56000000e+02 2.57000000e+04 4.46000000e+04
 1.90000000e+03 1.30000000e+03 4.07000000e+04 2.90000000e+03
 1.50000000e+03 1.02000000e+04 2.20000000e+02 1.93000000e+02
 8.50000000e+03 2.60000000e+03 8.40000000e+01 5.10000000e+04
 7.20000000e+03 1.87000000e+04 1.20000000e+03 4.00000000e+02
 4.19000000e+02 9.20000000e+02 8.90000000e+03 2.42000000e+04
 4.58506081e+03 4.80000000e+02 6.00000000e+02 9.40000000e+03
 4.69000000e+02 1.43000000e+04 4.20000000e+02 4.60000000e+03
 6.97000000e+04 1.33000000e+04 1.30000000e+04 1.19300000e+05
 1.04600000e+05 3.80000000e+01 3.50000000e+04 1.03000000e+04
 2.94000000e+04 2.00000000e+02 2.26500000e+05 1.58000000e+04
 6.80000000e+02 4.20000000e+03 2.00000000e+03 5.25000000e+02
 5.60000000e+03 1.29000000e+04 5.50000000e+03 2.30000000e+03
 1.00000000e+03 3.80000000e+03 3.85000000e+02 5.63000000e+02
 4.00000000e+03 8.78000000e+02 1.11000000e+04 6.13000000e+02
 4.44000000e+04 1.57000000e+04 3.00000000e+03 5.31000000e+02
 4.03000000e+02 3.90000000e+03 1.70000000e+04 7.59000000e+04
 7.00000000e+03 5.69000000e+02 8.31000000e+02 4.75000000e+04
 6.27000000e+04 5.80000000e+03 1.85000000e+04 1.11000000e+05
 2.64000000e+04 3.30000000e+03 9.53000000e+04 1.19000000e+04
 5.00000000e+03 9.30000000e+02 3.38000000e+02 1.90000000e+04
 4.34000000e+02 4.29000000e+04 2.80000000e+03 7.65000000e+02
 7.36000000e+02 2.95000000e+04 9.60000000e+02 9.19000000e+02
 8.44000000e+02 5.20000000e+02 5.40000000e+03 3.33000000e+02
 8.91000000e+02 4.37000000e+04 3.50000000e+03 2.04000000e+04
 1.67000000e+04 1.52000000e+04 1.23000000e+05 5.81000000e+02
 4.50000000e+03 1.53000000e+04 4.90000000e+03 1.64000000e+05
 8.27000000e+04 8.82000000e+04 2.13000000e+04 1.37400000e+05
 1.45000000e+04 1.70000000e+03 4.08000000e+04 2.38000000e+04
 6.10000000e+03 4.95000000e+04 1.54000000e+04 1.23000000e+02
 7.70000000e+03 5.70000000e+03 1.10000000e+04 6.08000000e+02
 6.04000000e+04 6.09000000e+04 3.60000000e+03 1.80000000e+03
 2.73000000e+04 5.45000000e+04 7.26000000e+04 1.26000000e+04
 1.63000000e+02 5.19000000e+04 6.30000000e+01 5.44000000e+02
 6.38000000e+04 2.47000000e+04 5.33000000e+04 2.80000000e+02
 1.72000000e+02 1.56800000e+05 5.13000000e+02 8.06000000e+02
 3.00000000e+02 2.03000000e+02 5.90000000e+03 1.72100000e+05
 7.50000000e+03 4.70000000e+03 1.47000000e+04 7.90000000e+03
 3.57000000e+02 1.79000000e+04 5.46000000e+04 2.98000000e+04
 4.83000000e+02 7.80000000e+04 6.48000000e+04 1.42000000e+04
 2.20000000e+03 3.50000000e+02 6.20000000e+03 6.94000000e+04
 1.94000000e+04 2.84000000e+04 8.30000000e+03 2.31000000e+04
 5.52000000e+04 1.36000000e+04 6.60000000e+03 1.65000000e+04
 6.00000000e+03 1.24000000e+04 4.41000000e+02 1.62000000e+04
 1.14000000e+04 3.06000000e+04 3.89000000e+04 7.09000000e+02
 1.78000000e+04 8.70000000e+03 7.40000000e+04 1.12100000e+05
 9.06000000e+02 2.28000000e+02 8.00000000e+02 1.08000000e+04
 1.28000000e+04 1.68000000e+04 9.80000000e+03 1.47700000e+05
 2.98000000e+02 7.79000000e+04 7.51000000e+04 1.05600000e+05
 7.43000000e+04 6.59000000e+02 1.37000000e+04 7.44000000e+02
 3.08000000e+04 8.14000000e+02 1.05000000e+04 2.27000000e+04
 7.67000000e+04 1.44000000e+04 1.98000000e+04 3.73000000e+04
 2.28100000e+05 4.30000000e+03 3.13000000e+02 6.02000000e+04
 5.30000000e+03 4.80000000e+03 3.24000000e+04 1.69000000e+04
 1.13700000e+05 2.07000000e+04 9.20000000e+03 4.06000000e+02
 4.79000000e+04 5.27000000e+04 8.84000000e+04 1.23300000e+05
 9.58000000e+02 1.20300000e+05 2.10000000e+04 4.73000000e+02
 6.66000000e+04 1.96400000e+05 2.76000000e+02 6.25000000e+04
 1.38600000e+05 6.40000000e+03 3.18000000e+04 7.30000000e+03
 3.82000000e+04 8.89000000e+04 3.61000000e+04 2.75000000e+04
 1.40000000e+04 2.70000000e+03 7.10000000e+03 4.10000000e+03
 3.20000000e+02 3.16000000e+04 3.92000000e+02 1.23200000e+05
 7.35000000e+02 6.70000000e+03 9.00000000e+02 2.96000000e+04
 6.56000000e+04 1.56200000e+05 1.22000000e+04 8.59000000e+02
 3.22000000e+04 1.04000000e+04 6.30000000e+03 1.38000000e+04
 1.41000000e+04 1.51000000e+04 8.80000000e+03 5.06000000e+04
 3.85000000e+04 5.66000000e+04 2.89000000e+04 3.74000000e+04
 3.81000000e+04 4.94000000e+04 4.35000000e+04 1.05900000e+05
 2.50000000e+04 2.79000000e+04 5.20000000e+03 2.17000000e+04
 3.83000000e+04 1.26400000e+05 4.17000000e+04 2.00000000e+04
 3.91000000e+04 5.11000000e+02 5.21000000e+04 5.60000000e+04
 3.40000000e+03 9.79000000e+02 2.37000000e+04 1.96000000e+04
 5.49000000e+04 8.88000000e+02 1.14500000e+05 1.06300000e+05
 8.75000000e+02 1.04700000e+05 8.21000000e+02 1.60000000e+04
 6.26000000e+04 4.04000000e+04 1.20000000e+04 1.83000000e+04
 5.86000000e+04 1.08800000e+05 5.96000000e+02 3.65000000e+02
 8.00000000e+03 4.75000000e+02 5.93000000e+02 8.79000000e+04
 3.64000000e+04 5.10000000e+03 1.09000000e+04 1.31000000e+04
 3.26000000e+04 8.10000000e+02 8.40000000e+02 8.66000000e+02
 3.02000000e+04 9.00000000e+03 5.30000000e+02 8.39000000e+02
 3.45000000e+02 1.56000000e+04 7.49000000e+04 6.69000000e+04
 6.34000000e+02 3.94000000e+04 3.83000000e+02 4.33000000e+04
 1.21100000e+05 6.20000000e+02 6.50000000e+02 1.81000000e+04
 5.95000000e+04 5.84000000e+04 9.90000000e+03 4.52000000e+04
 4.00000000e+04 6.83000000e+04 3.10000000e+02 3.46000000e+04
 3.36000000e+04 1.50000000e+04 2.87000000e+04 5.54000000e+04
 1.02700000e+05 3.20000000e+03 2.80000000e+04 6.63000000e+04
 1.37300000e+05 6.72000000e+04 5.87000000e+04 4.26000000e+04
 6.35000000e+04 7.99000000e+04 1.18000000e+04 2.66000000e+04
 5.04000000e+04 1.59000000e+04 5.53000000e+02 4.72000000e+04
 5.15000000e+04 1.64000000e+02 1.35000000e+04 9.34000000e+02
 3.47000000e+02 1.53500000e+05 4.02000000e+02 8.71000000e+04
 4.23000000e+04 1.63000000e+04 6.84000000e+02 7.80000000e+03
 6.75000000e+04 5.80000000e+04 6.55000000e+04 4.35000000e+02
 5.09000000e+04 6.64000000e+04 2.40000000e+04 6.99000000e+04
 3.95000000e+04 7.29000000e+02 3.99000000e+04 7.21000000e+04
 3.98000000e+02 6.29000000e+02 5.24000000e+04 2.22000000e+04
 8.29000000e+02 1.49000000e+02 4.41000000e+04 2.67000000e+04
 3.51000000e+02 2.54000000e+02 2.61000000e+04 2.84000000e+02
 9.45000000e+02 3.11000000e+02 1.07000000e+04 3.24000000e+02
 2.70000000e+02 4.39000000e+02 5.34000000e+02 4.28000000e+02
 2.30000000e+02 2.72000000e+04 4.40000000e+03 1.21300000e+05
 6.30000000e+02 7.00000000e+02 5.95000000e+02 6.75000000e+02
 3.70000000e+03 2.41000000e+04 1.80000000e+04 2.09000000e+04
 3.28000000e+04 7.43000000e+02 9.80000000e+02 9.13000000e+02
 3.80000000e+04 4.49000000e+02 5.66000000e+02 9.50000000e+03
 7.75000000e+02 7.84000000e+02 8.70000000e+02 8.20000000e+03
 1.62000000e+02 2.81000000e+04 1.48000000e+04 1.21500000e+05
 4.94000000e+02 1.71000000e+02 4.25000000e+04 2.97000000e+04
 3.44000000e+02 2.67000000e+02 1.84000000e+04 5.07000000e+02
 1.25100000e+05 5.63000000e+04 2.52000000e+02 4.55000000e+02
 7.60000000e+03 9.21000000e+02 7.48000000e+02 5.46000000e+02
 8.96000000e+04 9.46000000e+02 3.23000000e+02 3.19000000e+02
 7.80000000e+02 8.63000000e+02 2.16000000e+04 2.97000000e+02
 3.05000000e+04 8.10000000e+03 3.04000000e+04 1.76000000e+02
 9.26000000e+02 1.61000000e+04 4.31000000e+04 5.85000000e+02
 9.10000000e+03 3.57000000e+04 2.85000000e+04 2.17000000e+02
 9.60000000e+03 3.35000000e+02 1.45000000e+02 3.52000000e+02
 3.60000000e+04 2.26000000e+04 4.10000000e+02 2.20000000e+04
 8.89000000e+02 9.80000000e+01 3.20000000e+04 2.50000000e+02
 1.95000000e+02 5.70000000e+02 3.42000000e+04 3.28000000e+02
 3.76000000e+02 4.23000000e+02 5.12000000e+02 1.34000000e+02
 8.34000000e+02 2.93000000e+02 7.07000000e+02 3.78000000e+02
 4.31000000e+02 1.70000000e+02 1.75000000e+02 6.64000000e+02
 6.65000000e+02 8.55000000e+02 1.01000000e+04 2.64000000e+02
 1.82000000e+02 4.76000000e+02 1.86000000e+02 8.79000000e+02
 2.59000000e+02 8.08000000e+02 7.86000000e+02 9.03000000e+02
 4.26000000e+02 7.60000000e+02 9.25000000e+02 8.41000000e+04
 1.13000000e+04 1.09000000e+02 1.74000000e+02 2.48000000e+02
 2.19000000e+04 9.00000000e+04 3.05000000e+02 1.66100000e+05
 4.71000000e+02 4.65000000e+02 2.36000000e+04 9.69000000e+02
 2.76000000e+04 5.56000000e+02 2.82000000e+02 6.06000000e+02
 5.05000000e+02 4.16000000e+04 2.61000000e+02 2.02000000e+02
 2.49000000e+04 4.13000000e+02 1.71000000e+04 1.30000000e+02
 1.00000000e+04 9.90000000e+02 9.88000000e+02 4.18000000e+04
 9.38000000e+02 2.56000000e+02 9.78000000e+02 9.71000000e+02
 6.48000000e+02 6.01000000e+02 6.41000000e+02 3.80000000e+02
 3.09000000e+02 4.77000000e+02 3.95000000e+02 4.81000000e+02
 3.32000000e+02 2.33000000e+02 4.14000000e+02 8.93000000e+02
 1.66000000e+02 2.19000000e+02 1.89000000e+02 1.50000000e+02
 5.94000000e+02 2.13000000e+02 2.90000000e+02 4.64000000e+02
 4.62000000e+02 3.56000000e+02 8.84000000e+02 6.88000000e+02
 3.71000000e+02 2.15000000e+02 2.12000000e+02 5.14000000e+02
 4.68000000e+04 1.91000000e+04 9.56000000e+02 2.45000000e+02
 7.56000000e+02 2.89000000e+02 3.41000000e+02 9.75000000e+02
 7.20000000e+02 7.76000000e+02 3.16000000e+02 7.88000000e+02
 4.90000000e+02 9.47000000e+02 2.73000000e+02 2.94000000e+02
 1.43000000e+02 7.80000000e+01 2.88000000e+02 5.22000000e+02
 1.17000000e+02 2.55000000e+02 2.53000000e+02 1.10000000e+02
 6.21000000e+02 1.98000000e+02 6.98000000e+02 5.78000000e+02
 1.06000000e+02 1.65000000e+02 3.64000000e+02 2.65000000e+02
 9.30000000e+01 2.23000000e+02 8.60000000e+03 3.68000000e+02
 2.31000000e+02 8.13000000e+02 3.69000000e+02 8.90000000e+01
 8.60000000e+01 4.40000000e+02 5.04000000e+02 3.14000000e+02
 1.38000000e+02 1.40000000e+02 1.55000000e+02 1.67000000e+02
 2.25000000e+02 1.54000000e+02 8.70000000e+01 4.04000000e+02
 6.60000000e+02 7.72000000e+02 1.19000000e+02 3.58000000e+02
 2.81000000e+02 5.48000000e+02 7.30000000e+02 7.31000000e+02
 1.80000000e+02 3.53000000e+02 6.05000000e+02 6.09000000e+02
 6.19000000e+02 2.92000000e+02 1.36000000e+02 1.58000000e+02
 7.03000000e+02 2.34000000e+02 6.39000000e+02 4.99000000e+02
 6.94000000e+02 1.91000000e+02 6.31000000e+02 5.36000000e+02
 7.61000000e+02 2.39000000e+02 2.18000000e+02 5.29000000e+02
 6.16000000e+02 5.08000000e+02 1.08000000e+02 2.57000000e+02
 4.68000000e+02 3.42000000e+02 1.56000000e+02 9.50000000e+02
 5.72000000e+02 8.50000000e+02 2.38000000e+02 2.78000000e+02]

Среди идентификаторов игроков отмечено 4 дубликата

In [11]:
df[df['ID'].duplicated()]['ID'].to_list()

[168651, 181872, 200466, 241736]

In [12]:
df[df['ID'].isin(df[df['ID'].duplicated()]['ID'])]

,index,ID,Name,Age,Nationality,Overall,Potential,Club,Value,Wage,Preferred Foot,International Reputation,Skill Moves,Position,Joined,Contract Valid Until,Height,Weight,Release Clause
134,153,168651,I. Rakitić,30,Croatia,87,87,Fc Barcelona,46500.0,260,Right,4.0,3.0,RCM,2014,01/01/2021,6.000000,172.0,95300.0
135,154,168651,I. Rakitić,30,Croatia,87,87,FC Barcelona,46500.0,260,Right,4.0,3.0,RCM,2014,01/01/2021,6.000000,172.0,95300.0
257,303,181872,A. Vidal,31,Chile,85,85,Fc Barcelona,26000.0,205,Right,4.0,3.0,CAM,2018,01/01/2021,5.916667,165.0,53300.0
258,304,181872,A. Vidal,31,Chile,85,85,FC Barcelona,26000.0,205,Right,4.0,3.0,CAM,2018,01/01/2021,5.916667,165.0,53300.0
582,686,200466,V. Eicher,27,Germany,67,69,1. FC Heidenheim 1846,625.0,4,Left,1.0,1.0,GK,2017,01/01/2020,6.250000,187.0,1000.0
583,687,200466,V. Eicher,27,Germany,67,69,FC Heidenheim 1846,625.0,4,Left,1.0,1.0,GK,2017,01/01/2020,6.250000,187.0,1000.0
1844,2122,241736,Y. Bisseck,17,Germany,61,82,1. FC Köln,500.0,1,Right,1.0,2.0,CB,2017,01/01/2022,6.333333,183.0,1300.0
1845,2123,241736,Y. Bisseck,17,Germany,61,82,FC Köln,500.0,1,Right,1.0,2.0,CB,2017,01/01/2022,6.333333,183.0,1300.0

Данные строки практически полностью дублируются, разница либо в названии клуба, либо в амлуа игрока

Удалим дубликаты

In [13]:
df.drop_duplicates('ID', inplace=True)

Теперь необходимо унифицировать значения в названиях клубов, для этого нужно:

1) удалить все вхождения "1. " в названиях
2) устранить неоднозначность в сокращениях "Fc" и "FC", приведя к единому формату без сокращения (также учитывая возможные ошибки, связанные с русской раскладкой клавиатуры при написании буквы C)

In [14]:
def club_edit(club):
    res = club.replace('1. ', '')
    res = res.replace('Fc ', '')
    res = res.replace('FС ', '')
    res = res.replace('FC ', '')
    return res
    
df['Club'] = df['Club'].apply(club_edit)

In [15]:
df['Club'].sort_values().unique()

array(['AS Béziers', 'AS Monaco', 'Aalborg BK', 'Arsenal', 'Aston Villa',
       'Atalanta', 'BSC Young Boys', 'Barcelona', 'Basel 1893',
       'Bayer 04 Leverkusen', 'Bayern München', 'Borussia Dortmund',
       'Borussia Mönchengladbach', 'Brescia', 'Brighton & Hove Albion',
       'Brisbane Roar', 'Bristol City', 'Bristol Rovers', 'Burnley',
       'Bursaspor', 'Burton Albion', 'Bury', 'CA Osasuna',
       'CD Antofagasta', 'CD Aves', 'CD Everton de Viña del Mar',
       'CD Feirense', 'CD Huachipato', 'CD Leganés', 'CD Lugo',
       'CD Nacional', 'CD Numancia', "CD O'Higgins", 'CD Palestino',
       'CD Tenerife', 'CD Tondela', 'CD Universidad de Concepción',
       'CF Rayo Majadahonda', 'CF Reus Deportiu', 'Cagliari',
       'Cambridge United', 'Cardiff City', 'Carlisle United', 'Carpi',
       'Ceará Sporting Club', 'Celtic', 'Central Coast Mariners',
       'Cerezo Osaka', 'Chamois Niortais Football Club',
       'Changchun Yatai FC', 'Chapecoense', 'Charlton Athletic',
       'Chelsea', 'Cádiz CF', 'Córdoba CF', 'FSV Mainz 05',
       'Heidenheim 1846', 'Inter', 'Juventus', 'Kaiserslautern', 'Köln',
       'Lazio', 'Liverpool', 'Livingston FC', 'Lokomotiv Moscow',
       'Magdeburg', 'Malmö FF', 'Manchester City', 'Manchester United',
       'Milan', 'Nürnberg', 'Paris Saint-Germain', 'Porto', 'Real Madrid',
       'Roma', 'Sevilla FC', 'Udinese', 'Union Berlin'], dtype=object)

Теперь добавляем колонку для возрастной группы футболистов

In [17]:
def age_category(age):
    if age<20:
        return 'under 20'
    elif 20<=age<30:
        return 'between 20 and 30'
    elif 30<=age<36:
        return 'between 20 and 36'
    else:
        return '36 and older'
    
df['Age_category'] = df['Age'].apply(age_category)
df[['Age', 'Age_category']]

      Age       Age_category
0      40       36 and older
1      35  between 20 and 36
2      34  between 20 and 36
3      35  between 20 and 36
4      37       36 and older
...   ...                ...
2070   16           under 20
2071   16           under 20
2072   19           under 20
2073   18           under 20
2074   21  between 20 and 30

[2071 rows x 2 columns]